/* public/css/styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #141414;
  color: #ffffff;
}

header {
  background-color: #e50914;
  padding: 10px;
  text-align: center;
}

h1 {
  margin: 0;
  cursor: pointer;
}

#searchInput {
  width: 60%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #f40612;
  color: #ffffff;
  cursor: pointer;
}

button:hover {
  background-color: #e50914;
}

main {
  padding: 20px;
}

.category-section {
  margin-bottom: 20px;
}

.books-container {
  display: flex;
  overflow-x: auto;
}

.book-item {
  background-color: #333333;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  flex: 0 0 auto;
  width: 200px;
  transition: transform 0.2s ease-in-out; /* 추가: hover 시 변환 효과 */
}

.book-item img {
  width: 100%;
  height: auto;
}

.book-item h3 {
  font-size: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}

.book-item p {
  font-size: 0.8em;
  margin-top: 0.3em;
  color: #ccc;
}

.book-item:hover {
  transform: scale(1.05); /* 추가: hover 시 크기 확대 */
}
